body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: 1px solid black;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(200, 200, 200)
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.grid-row {
    flex: 1;
    display: flex;
}

.grid-column {
    flex: 1;
}

.highlight {
    background-color: aqua;
}